.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
}
.nunito-b{
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
}
.register h2{
    font-size: 30px;
    color: #501970;
}
.register p{
    font-family: "Poppins";
    color: #5c5c5c;
    font-size: small;
}
.btn-primary{
    background-color: #36114b;
    border-color: #501970;
    border-radius: 30px;
    width: 180px;

}
 .form-container form button:hover{
    border: 0px solid black;
    background: #000000;
    background: -webkit-linear-gradient(
        to right,
        #3a174f94,
        #3a174fc7
    );
    background: linear-gradient(
        to right,
        #3a174f94,
        #3a174fc7
    );
}
.bg-purple{
    background: #000000;
    background: -webkit-linear-gradient(
        to left,
        #3a174f94,
        white
    
    );
    background: linear-gradient(
        to left,
        #3a174f94,
        #FFFFFF
    );
    border-radius: 0%;
}
.register form input{
    border-radius: 0%;
    border-top: #000000;
    border-right: #000000;
    border-left: #000000;
    width: 380px;
}
.register form input:focus{
    background-color: #50197015;
    border: black;
}
